LEVEL=debug
PORT=9000

SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SECRET_KEY=
SUPABASE_JWKS_URL=

ADMIN_EMAIL=""
ADMIN_PASSWORD=""
ADMIN_NAME=""

FRONTEND_ORIGIN=http://localhost:3000
LOG_LEVEL=debug
REVALIDATE_TOKEN=
